.mfolower{
  position: absolute;
  aspect-ratio: 1;
  background: rgb(193,255,75);
  background: linear-gradient(45deg, rgba(193,255,75,1) 0%, rgba(0,212,255,1) 100%);
  height: 200px;
  left:50%;
  top:50%;
  translate: -50% -50%;
  z-index: -9;
  filter: blur(80px);
  border-radius: 100%;
}

body {
  background-image: url("images/bg.jpg");
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  padding: 10px;
}
.divo {
  background-color: #74992e;
  height: 100px;
  width: 50%;
  padding: 0.5rem;
  margin: auto;
  border: 6px double;
  border-radius: 10px;
  box-shadow: 20px 20px 110px #000;
}

.parent {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
}

.card1 a {
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.card1 {
  margin: auto;
  grid-area: 1 / 1 / 2 / 2;
  max-width: 250px;
  max-height: 300px;
  width: 75%;
  height: 20vh;
  background-image: url("images/mod.jpg");
  background-size: 300px 225px;
  padding: 16px;
  text-align: center;
  border: 5px double;
  border-radius: 10px;
  box-shadow: 0px 0px 50px #000;
  transition: 3s;
}
.card2 {
  margin: auto;
  grid-area: 1 / 2 / 2 / 3;
  max-width: 250px;
  width: 75%;
  height: 20vh;
  max-height: 300px;
  background-image: linear-gradient(
    140deg,
    #fadddb 0%,
    #fb79f4 50%,
    #bdd841 90%
  );
  padding: 16px;
  text-align: center;
  border: 5px double;
  border-radius: 10px;
  box-shadow: 0px 0px 50px #000;
  transition: 3s;
}
.card2:hover {
  filter: hue-rotate(90deg);
}
.card2 a {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.card3 {
  max-width: 250px;
  margin: auto;
  height: 20vh;
  color: white;
  grid-area: 1 / 3 / 2 / 4;
  width: 75%;
  max-height: 300px;
  background-image: url("images/ilu.jpg");
  background-size: 50vh 50vh;
  padding: 16px;
  text-align: center;
  transition: 3s;
  border: 5px double;
  border-color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 50px #000;
  color: rgba(0, 0, 0, 0);
}
.card3:hover {
  filter: grayscale(100%);
  color: rgba(255, 255, 255, 100%);
}


.card4 {
  width: 50%;
  height: 40vh;
  text-align: center;
  border: 5px double;
  border-radius: 10px;
  box-shadow: 0px 0px 50px #000;
  transition: 3s;
  margin: auto;
  background-color: #74992e;
}
.card4 p{
  text-align: left;
  font-weight: bold;
  padding:5px;
}


body {
  font-family: "Arial";
}
