:root {
  overflow: hidden; 
  background-color: lightblue;
  display: flex;
  justify-content: center; 
}

.divu {
  aspect-ratio: 1 / 1;
  animation: 2s linear 0s infinite alternate divu_an;
}

@keyframes divu_an {
  from {
    transform: translateX(110vh);
  }
  to {
    transform: translateX(-110vh);
  }
}
